{% extends "layout.html" %}
{% block content %}
    <h1> About </h1><br/>
    <h4>News Headline Classifier</h4>
    <h6>
        The very first model available is a News Headline Classifier. It asks you to provide a news headline and
        returns a label: "left", "right" or "center". Each label represents the model's prediction of the political
        inclination of the source for that particular headline. <br/><br/>
        Although the accuracy of the model is only at about 42%, it still is a little improvement from random
        guessing (which would give us 33.3% accuracy). <br/><br/>
        Enjoy!
    </h6><br/>

    <h4>March Madness Predictions</h4>
    <h6>
        [In progress]
    </h6><br/>

    <h4>Food Pictures Calorie Counter</h4>
    <h6>
        [In progress]
    </h6>
{% endblock content %}