{% extends "layout.html" %}
{% block content %}
    <h1> News Headline Classifier </h1>

    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Enter a news headline for the model to predict whether it
                    originated from a left, right, or center political news source
                </legend>
                <div class="form-group">
                    {{ form.headline.label(class="form-control-label") }}

                    {% if form.headline.errors %}
                        {{ form.headline(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form.headline.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form.headline(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
