{% extends "layout.html" %}
{% block content %}
    <h1> Welcome! </h1>
    <h6><br/>
        This website contains a series of Machine Learning models that you can interact with. <br/><br/>
        The purpose is two-fold: first, to show some cool results that can be obtained by using machine
        learning; second, to extend their capabilities by making them functional and accessible to users
        without having to get into the intricacies of the models.
    </h6>
{% endblock content %}


